.navbar{
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;

}

.navbar-inverse {
  opacity: 0.3;
  /* background-color: silver; */
}

.navbar-inverse:hover{
  opacity: 0.7;
}

.navbar-nav{
  color: green;
}
