.services-margin{
  padding-top: 60px;
  padding-bottom: 60px;
}

.services-header{
  margin-bottom: 60px;
}
.service-text-area{
  margin-top: 15px;
  padding-top: 15px;
}


h5{
  color: white;
  margin-bottom: 0px;
}
