
*{
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding: 0px;
}

p{
  color: silver;
  font-size: 16px;
  padding-top: 15px;
}

p b{
  color: white;
}

.heading{
  color: white;
}

h1{
  border-bottom: 5px solid blue;
  width: 188px;
}

.navbar{
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;

}

.navbar-inverse {
  opacity: 0.5;
  color: black;
}

.top-padding{
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;

}

.black-color{
    background-color: black;
}
